.header {
  display: flex;
  justify-content: space-around;
  padding: 90px;
  /* gap: 12px; */
  /* height: 90vh; */
  /* width: 100vw; */
}
.svg-div {
  /* background-color: blue; */
  /* padding: 20px; */
  margin: 0 30px 0 70px;
  /* width: 40vw; */
  /* height: 25vw; */
}
svg {
  /* height: 25vw;
  width: 40vw; */
  height: 500px;
  /* width: ; */
}
.header--title {
  /* margin: 0 30px 0 30px; */
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  /* width: 50vw; */
  /* background: hotpink; */
  /* line-height: 5; */
  /* padding: 40px; */
}

.main-title {
  font-size: 50px;
  /* line-height: -10; */
}

/* ------------------------ ID SELECTORS ------------------- */
/* #dummy {
  padding-top: 29%;
} */

/* @media (max-width: 1024px) {
  .header {
    flex-direction: column;
    /* text-align: center; */

@media (max-width: 778px) {
  svg {
    display: none;
  }
}
