.header {
  /* align-content: center; */
  position: relative;
  /* background-color: blue; */
  /* height: 150%; */
  width: 100%;
}

.header--title {
  display: block;
  position: absolute;
  /* right: 30%; */
  top: 40%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%;
  /* background: hotpink; */
  aspect-ratio: 100 / 28;
}

/* ------------------------ ID SELECTORS ------------------- */
#dummy {
  padding-top: 29%;
}
