.circle {
  display: flex;
  /* position: absolute; */
  /* top: 130px; */
  /* align-items: center; */
  text-align: left;
  margin-left: 0;
  /* background-color: yellow; */
  height: 100%;
  /* width: 80%; */
  /* width: 100%; */
  /* background: hotpink; */
  /* aspect-ratio: 100 / 29; */
}

.nav {
  position: absolute;
  /* top: 30%; */
  /* left: 20px; */
  /* height: 100%; */
  width: 30%;
  left: 0;
  right: 0;
  height: 100%;
  /* border: solid; */
}

/* @media screen and (max-width: 1200px) { */
/* .circle {
    width: 100%;
  } */
/* .nav {
    position: absolute;
    top: 290px;
  } */
/* } */

.nav--items {
  line-height: 80px;
}

.nav--links {
  text-align: left;
  /* position: absolute; */
  /* top: 50%; */
  /* padding: 20px; */
  list-style-type: none;
  /* left: 50px; */
  /* right: 0; */
  width: 100%;
  /* height: 100%; */
  /* border: solid; */
  margin-top: 70%;
  margin-left: 5%;
}

.nav--items > a {
  text-decoration: none;
  border-bottom: 2px solid #f7f7f7;
  padding-bottom: 3px;
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500px;
  font-size: 1.5vw; /* set vw unit for responsive text */
  line-height: 5; /* line-height with no unit keeps consistent on different screen sizes */
}

/* @media screen (max-width: 1024px) {
  .nav--items > a {
    line-height: 1vh;
  }
} */

@media (max-width: 800px) {
  .nav {
    display: none;
  }
}
