:root {
  --background-color: #121013;
  --background-color-section: #1a1c20;
  /* 1b2021; */
  /* 0A1931 loved this blue for background */
  /* 293B5F also loved this blue one */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-section);
  color: #f7f7f7;
  width: 100%;
  /* height: ; */
}
h2 {
  color: #4ebceb;
}

/* .page{
  background-color: var(--background-color-section);
} */
/* ---------------------------- HEADER -----------------------*/
/* .hidden {
  -webkit-transition: all 5s ease;
  -moz-transition: 5s ease;
  transition: 5s ease;
} */
.language-switcher-flags {
  display: inline-block;
  justify-content: space-around;
  position: absolute;
  /* height: 10px; */
  height: 10px;
  right: 80px;
  top: 30px;
}
.language-switcher-flags > a {
  margin: 0 7px;
}
.language-switcher-flags > a > img {
  height: 50px;
  position: relative;

  /* clear: both; */
  /* margin-top: auto; */
  /* position: absolute; */
}
.opacity-pt {
  opacity: 0.6;
}

.opacity-pt:hover {
  opacity: 1;
}

.opacity-en {
  opacity: 0.6;
}

.opacity-en:hover {
  opacity: 1;
}
canvas {
  display: flex;
  position: absolute;
  z-index: -1;
  /* included now below */

  height: 1000px;
}

.header {
  display: flex;
  justify-content: space-around;
  /* margin: 0 auto; */
  height: 820px; /* this made the height be right without the little space on the bottom
  width: min-content;
  /* width 100% in small screens is ok on the left, but still space left on the right */
  /* padding: 90px; */
  /* background-color: #09d1b3; */
  /* background-color: #09d1b3; */
}
.header-h4 {
  margin-top: 20px;
  letter-spacing: 1px;
  /* width: 305px; */
  background-color: red;
}
.svg-div > svg {
  /* background-color: pink; */
  /* position: fixed; */
  margin: 100px 150px 0 200px;
}

.header--title {
  margin: 250px 0px 200px 90px;
  /* padding-left: 8%; this makes the title be far from the right border on small screens */
  font-family: 'Open Sans', sans-serif;
  /* position: fixed; */
  text-align: left;
  /* width: 600px; */
  /* background: hotpink; */
}

.main-title {
  /* position: fixed; */
  /* font-size: 50px; */
  /* font-size: 400%; */
  font-weight: 200;
  line-height: 1em;
  letter-spacing: -1px;
  /* line-height: -10.1; */
  /* line-height: -10; */
}

@media screen and (min-width: 1025px) {
  .header--title {
    width: 30%;
    /* background-color: #01937c; */
    margin-left: 100px;
    /* padding-left: 3vw; */
  }
  .main-title {
    font-size: 80px;
  }
  .svg-div > svg {
    margin-left: 130px;
    /* background-color: #01937c; */
    width: 70%;
  }
  canvas {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .header--title {
    /* background-color: pink; */
    width: 50%;
    margin-left: 90px;
    margin-top: 300px;
    padding-left: 30px;
  }
  .main-title {
    /* font-size: 260%; */
    font-size: 45px;
    /* background-color: pink; */
  }
  .svg-div > svg {
    margin-left: 30px;
    /* background-color: #01937c; */
    width: 70%;
  }
  canvas {
    width: 100%;
  }
}
@media screen and (max-width: 778px) {
  svg {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .header--title {
    /* font-size: 50px; */
    /* padding: 60px 60px 60px 70px; */
    margin: 240px 0px 200px 0px;
    /* background-color: #09d1b3; */
  }
  .language-switcher-flags {
    right: 30px;
  }
  canvas {
    height: 100%;
  }
}
@media screen and (max-width: 1024) {
  /* .header--title {
    padding-left: 0;
  }
  .main-title {
    font-size: 50px;
  } */
  /* .svg-div > svg {
    margin: 100px 0px 0 30px;
  } */
}
/* SVG GIRL PROGRAMMER HEADER */

#hair {
  animation: my-hair 0.7s ease-in-out infinite alternate;
  transform-box: fill-box;
}
#back {
  animation: back 0.9s infinite alternate;
  transform-box: fill-box;
}

#code-lines-2,
#code-lines-3,
#code-lines {
  /* background-color: #3A3F41; */
  animation: code 0.8s forwards infinite alternate;
}
svg {
  /* background-color: blue;
  margin: 85px 0px 0 50px; */

  animation: svg-complete 3s ease-in-out infinite alternate;
}

@keyframes my-hair {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-2deg);
  }
}

@keyframes back {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes code {
  from {
    /* background-color: #3A3F41; */
    /* transform: rotate(0); */
    opacity: 0;
  }
  to {
    /* transform: rotate(10deg); */
    opacity: 1;
  }
}

@keyframes svg-complete {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

/* INDICATOR HEADER */

.indicator-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  position: absolute;
  top: 735px;
  left: 90%;
  /* background-color: white; */
}

.scroll-btn {
  position: absolute;
  width: 300%;
  right: 10%;
  /* background-color: white; */
}

.scroll-btn button {
  text-decoration: none;
  color: #5babcd;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: none;
  background-color: var(--background-color);
}
/* .indicator-wrapper a {
  display: inline-block;
  position: absolute;
  width: 200%;
  right: 200px;
} */

.indicator {
  position: relative;
  width: 30px;
  height: 30px;
  /* background-color: #f7f7f7; */
  transform: rotate(45deg);
  left: 93%;
}

.indicator > span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 60%;
  display: block;
  box-sizing: border-box;
  border: none;
  border-right: 3px solid #f7f7f7;
  border-bottom: 3px solid #f7f7f7;
  animation: animate 1s linear infinite;
  /* cursor: pointer; */
}

.indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0.1s;
}

.indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  animation-delay: 0.2s;
}

.indicator span:nth-child(3) {
  top: 0px;
  left: 0px;
  animation-delay: 0.3s;
}

/* .indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  animation-delay: 0.6s;
} */

/* .indicator span:nth-child(5){
  top: 30px;
  left: 30px;
  animation-delay: 0.8s;
} */

@keyframes animate {
  0% {
    border-color: #5babcd;
    transform: translate(0, 0);
  }
  20% {
    border-color: #5babcd;
    transform: translate(15px, 15px);
  }
  20.1%,
  100% {
    border-color: #37ddd5;
  }
}

@media (max-width: 1000px) {
  .scroll-btn,
  .indicator,
  .indicator > span {
    display: none;
  }
}

/* ---------------------------- ABOUT SECTION-----------------------*/
.section-1 {
  background-color: var(--background-color-section);
  /* width: 114.9rem; */
  /* height: 820px; */
  height: 150%;
  /* width: 100%; */
  /* background-color: #01937c; */
}

.section1-feature {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  padding: 130px;
}

.section-text {
  /* margin-left: 60px; */
  /* flex: 50%; */
  text-align: left;
  /* background-color: #16515f; */
  width: 29rem;
}

.section-text p {
  margin-top: 30px;
  line-height: 1.8em;
  /* letter-spacing: 0.04em; */
  word-spacing: 0.06em;
  /* background-color: pink; */
}
.section-photo {
  text-align: center;
  display: inline-block;
  /* background-color: #006bc0; */
  margin-bottom: 20px;
  height: 32rem;
  /* width: 26rem; */
}

.section-photo img {
  border: 6px solid rgba(60, 113, 136, 0.5);
  height: 33rem;
  /* width: 26rem; */
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 768px) {
  .section1-feature {
    flex-direction: column;
    /* padding: 5vmin; */

    /* margin-right: 0; */
  }
  .section-text {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .section1-feature {
    padding: 37px;
  }
  .section-text {
    width: 19rem;
    /* align-content: center; */
  }
  .section-photo {
    height: 20rem;
  }
  .section-photo img {
    height: 20rem;
  }
}

@media (max-width: 376px) {
  .section1-feature {
    padding: 0;
    align-items: center;
  }
  .section-text p {
    /* height: none; */
    /* font-size: -5rem; */
  }
}
/* ---------------------------- SECTION 2  -----------------------*/

.section-2 {
  padding: 40px;
  /* background-color: rgb(44, 40, 40); */
  height: 100%;
  width: 100%; /*  */
  /* z-index: -1; */
  /* background-color: green; */
}
.section-2-title > h2 {
  position: relative;
  font-size: 2.5em;
  margin: 30px 0 10px 0;
  letter-spacing: -0.02vw;
}
.section-2-imgs {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 20px 50px 50px 50px;
  border-bottom: 0.1px solid;
  /* background-color: pink; */
}

.section-2-imgs > div {
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.section-2-imgs > div > img {
  border-radius: 10px;
}

/* javascript badge color F0DB4F */
/* riby badge color 990D03 */
.section-2-imgs div {
  position: relative;
  transition: 0.5s;
  display: flex;
  border-radius: 10px;
  /* background-color: #30336b; */
}

.section-2-imgs div::before {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: 0px;
  right: 0px;
  content: '';
  transition: 0.5s;
  /* transform: scale(0.9); */
  z-index: -1;
  /* transform: scaleY(0.9); */
  /* transition: transform 250ms ease-in-out; */
  border-radius: 10px;
}

.section-2-imgs div:hover::before {
  width: 5vw;
  height: 5vw;
  /* transform: scale(1.2); */
  filter: blur(3px);
  animation: wobble-hor-bottom 0.8s both;
  /* z-index: -11; */
  /* border-radius: 100px; */
}

.div-1:hover::before {
  box-shadow: 0 0 20px #f0db4f;
  background-color: #f0db4f;
}
.div-2:hover::before {
  box-shadow: 0 0 20px #a71501;
  background-color: #a71501;
}
.div-3:hover::before {
  box-shadow: 0 0 20px #a71501;
  background-color: #6a1c25;
}
.div-4:hover::before {
  box-shadow: 0 0 20px #336791;
  background-color: #336791;
}
.div-5:hover::before {
  box-shadow: 0 0 20px #fc490b;
  background-color: #fc490b;
}

.div-6:hover::before {
  box-shadow: 0 0 20px #006bc0;
  background-color: #006bc0;
}
.div-7:hover::before {
  box-shadow: 0 0 20px #902704;
  background-color: #902704;
}
.div-8:hover::before {
  box-shadow: 0 0 20px #e93891;
  background-color: #e93891;
}
.div-9:hover::before {
  box-shadow: 0 0 20px #a06dec;
  background-color: #a06dec;
}
.div-10:hover::before {
  box-shadow: 0 0 20px #09d1b3;
  background-color: #01937c;
}
/* ---------------- */
.div-1:hover {
  box-shadow: 0 0 20px #f0db4f;
  background-color: #f0db4f;
}

.div-2:hover {
  box-shadow: 0 0 20px #a71501;
  background-color: #a71501;
}

.div-3:hover {
  box-shadow: 0 0 20px #a62c39;
  background-color: #a62c39;
}
.div-4:hover {
  box-shadow: 0 0 20px #50d1f1;
  background-color: #336791;
}
.div-5:hover {
  box-shadow: 0 0 20px #fc490b;
  background-color: #fc490b;
}

.div-6:hover {
  box-shadow: 0 0 20px #50d1f1;
  background-color: #006bc0;
}
.div-7:hover {
  box-shadow: 0 0 20px #eb6538;
  background-color: #902704;
}
.div-8:hover {
  box-shadow: 0 0 20px #cf649a;
  background-color: #8d305e;
}
.div-9:hover {
  box-shadow: 0 0 20px #a06dec;
  background-color: #a06dec;
}
.div-10:hover {
  box-shadow: 0 0 20px #01937c;
  background-color: #01937c;
}
.wobble-hor-bottom {
  animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/* Keyframes */

@keyframes wobble-hor-bottom {
  /* 0%,
  100% {
    transform: translateX(0%);
    transform: translateX(0%);
    transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  } */
  15% {
    transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@media (max-width: 767px) {
  .section-2-imgs {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 4.5rem;
  }
}

/* SECTION 2 PROJECTS */

.cards-title > h2 {
  margin-top: 50px;
  letter-spacing: -0.02em;
  font-size: 2.5em;
}
.cards-wrapper {
  /* background-color: blue; */
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: 100%;
}

.card {
  background-color: bisque;
  background-image: linear-gradient(rgba(0, 0, 0.5)), rgba(0, 0, 0, 0.5),
    var(--bg-img);
  /* height: 20em; */
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 2em -1em rgb(255, 254, 254);
  transition: all, 0.5s;
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
  /* margin-top: 10px; */
}

.card:hover {
  transform: rotate(0);
}
.text-cards {
  /* margin-top: 250px; */
}
.card h2 {
  margin: 0px;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  /* font-family: 'Open Sans'; */
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
}

.card:hover .tags .tag {
  background: #3c3163;
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}

.card:before,
.card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, 0.4s;
  transition-timing-function: ease-in-out;
}
.card:before {
  background: #ddd;
  height: 250%;
  width: 250%;
}
.card:after {
  background: white;
  width: 200%;
  height: 200%;
}
.card:hover {
  color: #3c3163;
}
.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
  .card {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

/* ---------------------------- LOADER ----------------------------- */
/*
html > .loader {
  height: 100%;
} */

/* body > .loader {
  background-image: radial-gradient(
    circle farthest-corner at center,
    #3c4b57 0%,
    #1c262b 100%
  );
} */

.loader {
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #efeffa;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #efeffa;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #efeffa;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/* ---------------------------------- FOOTER ----------------------------- */
footer {
  background-color: var(--background-color);
  position: absolute;
  z-index: -1;
  width: 100%;
  padding: 20px;
}
.div--footer {
  text-align: center;
  /* margin-top: 500px; */
  line-height: 4rem;
}
.div--footer > p {
  /* background-color: #09d1b3; */
  display: inline-block;
  width: 100%;
  line-height: 2;
  letter-spacing: 0.5px;
}
.contact-btns {
  text-align: center;
  /* justify-content: space-around; */
  list-style-type: none;
  /* background-color: yellow; */
}

.contact-btns-link {
  display: inline-flex;
  justify-content: center;
  margin: 10px 8px 0 0;
  position: relative;
  align-items: center; /* worked when i changed display: inline-block to inline-flex */
  /* background-color: beige; */
  text-decoration: none;
  font-size: 18px;
  /* background-color: blue; */
  width: 60px;
  height: 60px;
  color: #fff;
  /* margin: 0 8px; */
}

.contact-btns .contact-btns-link::before {
  content: '';
  position: absolute;
  align-items: center;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #22a6b3, #30336b);
  z-index: -1;
  border-radius: 50%;
  transition: 0.3s ease-in;
}

.contact-btns-link:hover::before {
  transform: scale(0);
}

.contact-btns-link i {
  transition: 0.3s ease-in;
}

.contact-btns-link:hover i {
  background: linear-gradient(45deg, #22a6b3, #30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

/* .pages {
  width: 100%;
  height: auto;
} */
